.button{
    padding: 0.8rem 2rem;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 400;
    margin-right: 10rem;
}

.button:hover{
    opacity: 0.8;
}

.button:active{
    background: blue;
    color: aliceblue;
}